* {
  box-sizing: border-box;
}

.hidden {
  height: 1px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -10000px;
  width: 1px;
}

main {
  margin: 0 40px;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  color: white;
}

.search {
  background-color: #e0e0e0;
  border: none;
  font-size: 20px;
  line-height: 50px;
  padding-left: 20px;
  border-radius: 5px;
}
.search__glass {
  background-color: #e0e0e0;
  border: none;
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
  font-size: 25px;
}
.search:focus {
  background-color: #e0e0e0;
  border: none;
  box-shadow: none;
}

.selector {
  border: none;
  color: white;
  font-weight: 400;
  padding: 20px;
  font-size: 20px;
  margin: 10px 20px 20px 0;
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white'  stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
.selector--red {
  background-color: #ed6454;
}
.selector--green {
  background-color: #68d9a4;
}
.selector--blue {
  background-color: #0d6efd;
}

.liste {
  display: none;
  font-size: 13px;
  position: absolute;
  top: 75px;
  z-index: 10;
  border-radius: 5px;
}

#searchIngredient:focus {
  width: 500px;
  background-color: #0d6efd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white'  stroke-linecap='round' stroke-linejoin='round' transform='rotate(180)' transform-origin='center' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e  ");
}
#searchIngredient:focus ~ #filterByIngredients {
  display: block;
}

.show {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  flex-flow: column wrap;
}

#searchDevice:focus {
  width: 500px;
  background-color: #68d9a4;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white'  stroke-linecap='round' stroke-linejoin='round' transform='rotate(180)' transform-origin='center' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e  ");
}
#searchDevice:focus ~ #filterByDevice {
  display: block;
}

#searchUstensil:focus {
  width: 500px;
  background-color: #ed6454;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white'  stroke-linecap='round' stroke-linejoin='round' transform='rotate(180)' transform-origin='center' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e  ");
}
#searchUstensil:focus ~ #filterByUtensil {
  display: block;
}

#filterByDevice:hover {
  display: inline-block;
}

#filterByUtensil:hover {
  display: inline-block;
}

#filterByIngredients:hover {
  display: inline-block;
}

.selector__li {
  text-align: start;
  white-space: nowrap;
}

.selector::placeholder {
  color: white !important;
}

.logo {
  max-width: 400px;
  margin: 50px;
}

.legend {
  font-size: 11px;
  margin-top: 12px;
  line-height: 13px;
}

.form-select {
  width: 200px;
}

.card-body {
  background-color: #e7e7e7;
  padding: 0;
}

.card-body-text {
  padding: 1rem 1rem;
}

.resume {
  overflow: hidden;
  max-height: 160px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
}

a {
  color: black;
  text-decoration: none;
}

.w-70 {
  max-width: 70%;
}

.w-200 {
  width: 200px;
}

.large {
  grid-column: 1/4;
}

.card {
  margin-bottom: 20px;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  justify-content: space-between;
  grid-gap: 20px;
}

.card-title {
  font-size: 16px;
}

.fa-times-circle {
  font-weight: 100;
  font-size: 18px;
}

.closeButton {
  color: white;
  background-color: transparent;
  border: none;
}

.tagName {
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 5px;
}

#tag {
  display: flex;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
