@import "base/global.scss";
@import "utils/variables.scss";
@import "components/searchBar.scss";
@import "components/selector.scss";



.logo {
  max-width: 400px;
  margin: 50px;
}


.legend {
  font-size: 11px;
  margin-top: 12px;
  line-height: 13px;
}

.form-select{
  width: 200px;
}


.card-body {
  background-color: #e7e7e7;
  padding: 0;
}

.card-body-text{
  padding: 1rem 1rem;
}

.resume{
  overflow: hidden;
  max-height: 160px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
}
a{
  color: black;
  text-decoration: none;
}

.w-70{
  max-width: 70%;
}

.w-200{
  width: 200px;
}

.large {
  grid-column: 1 / 4;
}

.card{
  margin-bottom: 20px;
}

.results{
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  justify-content: space-between;
  grid-gap: 20px;
}

.card-title{
  font-size: 16px;
}

.fa-times-circle {
  font-weight: 100;
  font-size: 18px;
}

.closeButton {
  color: white;
  background-color: transparent;
  border: none;

}

.tagName {
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 5px;
}

#tag {
  display: flex;
  flex-wrap: wrap;
}