@import "base/global.scss";
@import "components/searchBar.scss";
@import "components/selector.scss";



.logo {
  max-width: 400px;
  margin: 50px;
}




.legend {
  font-size: 13px;
}



.widthSelect:hover {}



.selector {
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white'  stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.card-body {
  background-color: #e7e7e7;
}

.w-30 {
  max-width: 33%;
}





.widthSelect {
  width: 90%;
}

.fa-times-circle {
  font-weight: 100;
  font-size: 18px;
}

.closeButton {
  color: white;
  background-color: transparent;
  border: none;

}

.tagName {
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 5px;
}

#tag {
  display: flex;
  flex-wrap: wrap;
}