.search {
    background-color: rgb(224, 224, 224);
    border: none;
    font-size: 20px;
    line-height: 50px;
    padding-left: 20px;
    border-radius: 5px;
    &__glass {
        background-color: rgb(224, 224, 224);
        border: none;
        border-radius: 0 5px 5px 0;
        padding-right: 20px;
        font-size: 25px;
    }
    &:focus{
        background-color: rgb(224, 224, 224);
        border: none;
        box-shadow: none;
    }
}

